.HomeContainer {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-top: 1px solid rgb(136, 116, 0);
	margin: 0px;
}
