.SignInPage {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 2px solid gold;
	.SignInTitle {
		font-size: 2em;
	}
	.SignInContainer {
		width: 40%;
		height: fit-content;
		padding-bottom: 2em;
		border: 2px solid gold;
		border-radius: 20px;
		box-shadow: 3px 3px 5px;
		div.input-field {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
