.SignInPage {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid #887400;
  color: gold;
}
.SignInPage .SignInTitle {
  font-size: 2em;
  font-weight: 300;
  text-shadow: 3px 3px 6px black;
}
.SignInPage .SignInContainer {
  width: 40%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 2em;
  border-radius: 15px;
}
.SignInPage .SignInContainer div.input-field {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.SignInPage .SignInContainer .btn {
  margin-top: 2em;
  height: 35px;
  background-color: gold;
  box-shadow: 2px 2px 3px black;
  color: black;
  font-family: "Mohave", sans-serif;
  letter-spacing: 1px;
}
.SignInPage .SignInContainer .btn:hover {
  background-color: #ffe75f;
  box-shadow: 3px 3px 3px black;
}
@media (min-width: 1086px) {
  .SignInPage .SignInTitle {
    font-size: 2em;
    font-weight: 300;
    text-shadow: 3px 3px 6px black;
  }
  .SignInPage .SignInContainer {
    width: 400px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 2em;
    border: 1px solid rgba(136, 116, 0, 0.474);
    border-radius: 15px;
    box-shadow: 2px 2px 3px black;
  }
  .SignInPage .SignInContainer div.input-field {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .SignInPage .SignInContainer .btn {
    margin-top: 2em;
    height: 35px;
    background-color: gold;
    box-shadow: 2px 2px 3px black;
    color: black;
    font-family: "Mohave", sans-serif;
    letter-spacing: 1px;
  }
  .SignInPage .SignInContainer .btn:hover {
    background-color: #ffe75f;
    box-shadow: 3px 3px 3px black;
  }
}
@media (max-width: 767px) {
  .SignInPage .SignInContainer {
    width: 55%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 2em;
    border: 1px solid rgba(136, 116, 0, 0.474);
    border-radius: 15px;
    box-shadow: 1px 1px 2px;
    text-shadow: 3px 3px 6px black;
  }
  .SignInPage .SignInContainer div.input-field {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .SignInPage .SignInContainer .btn {
    margin-top: 1em;
    height: 35px;
    background-color: gold;
    box-shadow: 2px 2px 3px black;
    color: black;
    font-family: "Mohave", sans-serif;
    letter-spacing: 1px;
  }
  .SignInPage .SignInContainer .btn:hover {
    background-color: #ffe75f;
    box-shadow: 3px 3px 3px black;
  }
}
@media (max-width: 505px) {
  .SignInPage .SignInContainer {
    width: 65%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 2em;
    border: 1px solid rgba(136, 116, 0, 0.474);
    border-radius: 15px;
    box-shadow: 1px 1px 2px;
    text-shadow: 3px 3px 6px black;
  }
  .SignInPage .SignInContainer div.input-field {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=SignIn.css.map */