.App {
	font-family: 'Mohave', sans-serif;
	height: 100%;
}

.TopLevelNav {
	background-color: #f2e9e4;
	z-index: 11;
	border: none;
}

@media (min-width: 993px) {
	.TopLevelNav {
		padding-left: 1em;
	}
	#mobile-nav {
		display: none;
	}
}

.TopLevelNav a {
	color: #22223b;
	font-size: large;
}

.TopLevelNav a:hover {
	color: #4a4e69;
	text-decoration: underline #4a4e69;
	background-color: #f2e9e4;
}

a.brand-logo {
	font-size: 2.5em !important;
	font-family: 'Parisienne', cursive;
}

a.brand-logo:hover {
	color: #4a4e69;
	text-decoration: none !important;
}

@media (max-width: 505px) {
	a.brand-logo {
		display: none;
	}
}

#scroll-container {
	width: 100%;
	border-bottom: 1px solid #c9ada7;
	overflow: hidden;
	color: #22223b;
	height: fit-content;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-weight: 500;
	font-size: large;
	background: white;
	font-family: 'Mohave', sans-serif;
	z-index: 10;
}

#scroll-text {
	/* animation properties */
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);

	-moz-animation: my-animation 25s linear infinite;
	-webkit-animation: my-animation 25s linear infinite;
	animation: my-animation 25s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
	from {
		-moz-transform: translateX(100%);
	}
	to {
		-moz-transform: translateX(-100%);
	}
}

/* for Chrome */
@-webkit-keyframes my-animation {
	from {
		-webkit-transform: translateX(100%);
	}
	to {
		-webkit-transform: translateX(-100%);
	}
}

@keyframes my-animation {
	from {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	to {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}
