.SecondaryNavContainer {
	height: fit-content;
	width: 100%;
	border: none;
	padding: 0px;
	top: 0px;

	.SecondaryNavListContainer {
		height: fit-content;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		font-size: 1.7em;
		padding: 0px;

		a {
			color: gold;
		}
		a:hover {
			color: rgb(255, 233, 110);
			text-decoration: underline rgb(255, 233, 110);
		}

		.dropdown-content {
			background-color: black;
			border: 1px solid gold;
			box-shadow: 3px 3px 5px black;
			min-width: 100%;
		}

		.GiftsDropdownLink {
			display: flex;
			flex-direction: row !important;
			#Dropdown_10 {
				display: flex;
				flex-direction: row !important;

				.GiftsDropdownSectionOne {
					height: fit-content;
					width: fit-content;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
				}

				.GiftsDropdownSectionTwo {
					height: fit-content;
					width: fit-content;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
				}

				.GiftsDropdownSectionThree {
					height: fit-content;
					width: fit-content;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
				}
			}
		}
	}
}
